.add-user {
    height: 200px;
    padding: 10px;
    border: 1px solid salmon;
}

.display-user {
    height: 200px;
    padding: 10px;
    border: 1px solid rgb(203, 235, 24);
    margin-top: 2px;
    overflow: scroll;
}

.static {
    display: block;
}

.add-input {
    width: 240px;
    height: 26px;
    border: 1px solid orangered;
}

.add-button {
    margin-top: 11px;
    width: 1;
    margin-top: 11px;
    height: 27px;
    background-color: green;
    border-radius: 7px;
}

.user-item {
    background-color: skyblue;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    width: 200px;
    display: flex;
    justify-content: space-between;
}